DB_USER=user
DB_PASSWORD=user
DB_HOST=localhost
DB_PORT=5432
DB_NAME=qrisdatabase
DB_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USE_TLS=false


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=

WEBSOCKET_READ_DEADLINE=5m
WEBSOCKET_WRITE_DEADLINE=10s
WEBSOCKET_IDLE_CHECK_INTERVAL=1m
WEBSOCKET_IDLE_THRESHOLD=4m
WEBSOCKET_MAX_MESSAGE_SIZE=65536

